.crystal_1 {
    background: url("../images/pink.jpg");
    height: 75px;
    width: 100px;
    margin: 5px;
    background-repeat: no-repeat;
}

.crystal_2 {
    background: url("../images/purple-crystal.jpg");
    height: 75px;
    width: 100px;
    margin: 5px;
    background-repeat: no-repeat;
}

.crystal_3 {
    background: url("../images/quartz-crystal.jpg");
    height: 75px;
    width: 100px;
    margin: 5px;
    background-repeat: no-repeat;
}

.crystal_4 {
    background: url("../images/white-crystal.jpg");
    height: 75px;
    width: 100px;
    margin: 5px;
    background-repeat: no-repeat;
}